{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/weather.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js" integrity="sha512-4lykFR6C2W55I60sYddEGjieC2fU79R7GUtaqr3DzmNbo0vSaO1MfUjMoTFYYuedjfEix6uV9jVTtRCSBU/Xiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/weather.js' %}"></script>
</head>
<body>
    <div class="container">

        <div class="weather-side">
      
          <div class="weather-gradient"></div>
      
          <div class="date-container">
            <h2>Current Weather</h2>
            <hr/>
            <h2 class="date-dayname">{{current.dt | timestamp_to_ist | date:"l"}}</h2>
            <span class="date-day">{{current.dt | timestamp_to_ist | date:"d M Y"}}</span>
            
            <i class="location-icon" data-feather="map-pin"></i>
            
            <span class="location">{{ lat|reverse_geocode:lon }}</span>
          </div>
      
          <div class="weather-container">
            <img src="https://openweathermap.org/img/wn/{{current.weather.0.icon}}@2x.png" alt="{{current.weather.0.description}}" class="weather-icon">
            
            <h1 class="weather-temp">{{current.temp}}°C</h1>
            
            <h3 class="weather-desc">{{current.weather.0.main}}</h3>
          </div>
      
        </div>
        
        <div class="info-side">
      
          <div class="today-info-container">
          
            <div class="today-info">
            
              <div class="precipitation">
                <span class="title">FEELS LIKE</span>
                <span class="value">{{current.feels_like}}°C</span>
              </div>
              
              <div class="clear"></div>
              
              <div class="humidity">
                <span class="title">HUMIDITY</span>
                <span class="value">{{current.humidity}} %</span> 
              </div>
              
              <div class="clear"></div>
              
              <div class="wind">
                <span class="title">WIND</span>
                <span class="value">{{current.wind_speed}} m/s - {{current.wind_deg}}°</span>
              </div>
              
              <div class="clear"></div>
              
              <div class="wind">
                <span class="title">PRESSURE</span>
                <span class="value">{{current.pressure}} hPa</span>
              </div>

            </div>
          </div>
      
          <div class="week-container">
          
            <ul class="week-list">
              <li class="active">
                <img class="day-icon" src="https://openweathermap.org/img/wn/{{today.weather.0.icon}}@2x.png" alt="{{x.weather.0.description}}">
                <span class="day-name">{{today.dt | timestamp_to_ist | date:"D"}}</span>
                <span class="day-temp">{{today.temp.day | floatformat:0}}°C</span>
              </li>
            {% for x in daily1 %}
              <li>
                <img class="day-icon" src="https://openweathermap.org/img/wn/{{x.weather.0.icon}}@2x.png" alt="{{x.weather.0.description}}">
                <span class="day-name">{{x.dt | timestamp_to_ist | date:"D"}}</span>
                <span class="day-temp">{{x.temp.day | floatformat:0}}°C</span>
              </li>
            {% endfor %}
              
            </ul>
            
            <div class="clear"></div>
            
          </div>
          <div class="week-container">
          
            <ul class="week-list">
            
              {% for x in daily2 %}
              <li>
                <img class="day-icon" src="https://openweathermap.org/img/wn/{{x.weather.0.icon}}@2x.png" alt="{{x.weather.0.description}}">
                <span class="day-name">{{x.dt | timestamp_to_ist | date:"D"}}</span>
                <span class="day-temp">{{x.temp.day | floatformat:0}}°C</span>
              </li>
            {% endfor %}
              
            </ul>
            
            <div class="clear"></div>
            
          </div>
      
          <div class="location-container">
            <button class="location-button" onclick="mapRedirecter()">
              <i data-feather="map-pin"></i>
              <span>Change location</span>
            </button>
          </div>
      
        </div>
        <div class="alert-side">
            <h2>Alerts</h2>
            {% if alerts %}
            <div class="alert-data">
              <p><b>Start:</b> {{alerts.start | timestamp_to_ist | date:"d M Y"}}</p>
              <p><b>end:</b> {{alerts.end | timestamp_to_ist | date:"d M Y"}}</p>
              <p>{{alerts.description | linebreaksbr }}</p>
              <br/>
              <br/>
              <p><b>Sended by:</b> {{alerts.sender_name}}</p>
            </div>
            {% else %}
            <div class="alert-data">
              <div class="no-alerts">No alerts</div>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="wrapper">
        {% for x in hourly %}
        <div class="widget-container">
          <div class="top-left">
            <h2 id="date">{{x.dt | timestamp_to_ist | date:"D, d M Y"}}</h2>
            <h2 class="city" id="city">{{x.dt | timestamp_to_ist | date:"h:i A"}}</h2>
      <!--       <a target="_blank" href="https://codepen.io/myleschuahiock/"><p id="codepen-link">codepen.io/myleschuahiock</p></a> -->
            <p class="geo"></p>
          </div>
          <div class="top-right">
            <h1 id="weather-status">Weather / Weather Status</h1>
            <img class="weather-icon" src="https://openweathermap.org/img/wn/{{x.weather.0.icon}}@2x.png">
          </div>
          <div class="horizontal-half-divider"></div>
          <div class="bottom-left">
            <h2 id="temperature">{{x.temp}}</h2>
            <h3 id="celsius">&degC</h3>
          </div>
          <div class="vertical-half-divider"></div>
          <div class="bottom-right">
            <div class="other-details-key">
              <p>Wind Speed</p>
              <p>wind degree</p>
              <p>Humidity</p>
              <p>Pressure</p>
              <p>Feels Like</p>
            </div>
            <div class="other-details-values">
              <p class="windspeed">{{x.wind_speed}} m/s</p>
              <p class="sunset-time">{{x.wind_deg}}</p>
              <p class="humidity">{{x.humidity}} %</p>
              <p class="pressure">{{x.pressure}} hPa</p>
              <p class="sunrise-time">{{x.feels_like}} &degC</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <script>
        feather.replace({ 'aria-hidden': 'true' })
        function mapRedirecter(){
          window.location.href="{% url 'map' %}"
        }
      </script>
</body>
</html>